<h2><%= @chat.topic %></h2>
<small><button class='inviteButton'>Invite me back to this chat</button></small>
<table class="table table-striped><tbody>
  <% @messages.each do |message| %>
    <tr><th><span class="username"><%= message.username %></span></th><td><span class="messageBody"><%= message.body %></span></td></tr>
  <% end %>
</tbody></table>

<script type='text/javascript'>
  $('.inviteButton').click(function() {
    var name = prompt('And you are? (Skype username please)');
    $.post("<%= chat_path(@chat.id) %>/invite", {'username': name}, function(data) {
      alert("Hrmkay. You should be back in the chat. Maybe. If you weren't there already.");
    });
  });
</script>
